{% extends templat %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">By Daniel Omeiza</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <!-- top row -->
                <h3 style="padding-left: 50px">This app is able to tell if the image uploaded is human face or not</h3>
                    <br/>
                    <div class="row">

                        <div class="col-lg-6 col-xs-6">
                            <h4>Use this panel if you want to use the camera for a photo</h4>
                            <video id="video" width="240" height="180" autoplay></video>
                            <canvas id="canvas" width="240" height="180"></canvas>
                            <div>
                              <input onclick="takePhoto()" class="btn btn-primary" id="take" type="button" value="Start Camera" />
                              <input id="snap" class="btn btn-primary" type="button" value="Take photo" />
                                <input id="upload" class="btn btn-primary" onclick="upload()" type="button" value="Upload Photo" />
                            </div>

                        </div>


                        <div class="col-lg-3 col-xs-6" style="border-left: 6px;  border-left-style: groove; height: 250px;">
                        <h4>Use this panel if you have an image to upload</h4>
                        <form method="post" id="imgpost" action="/image/class/" enctype="multipart/form-data">
                            {% csrf_token %}
                                    <div class="box-body">
                                        <div class="form-group">
                                            <input type="file" name="image" required/>
                                             <input type="hidden" for="image_data" id="image_data" name="image_data" />
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </div>
                        </form>

                    </div>
                         <script>

                      $("#video").hide();
                      $("#canvas").hide();
                      var localstream;
                      var canvas;
                      function takePhoto(){
                        $("#video").show();
                        var video = document.getElementById("video");
                        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
                          navigator.mediaDevices.getUserMedia({video:true, audio:true}).then(function(stream){
                            video.src = window.URL.createObjectURL(stream);
                            localstream = stream;
                          })
                        }
                        canvas = document.getElementById("canvas");
                        var context = canvas.getContext('2d');
                        document.getElementById("snap").addEventListener('click', function(){
                          $("#canvas").show();
                          context.drawImage(video,0,0,240,180);
                          video.pause()
                          video.src = "";
                          localstream.getVideoTracks()[0].stop();
                        });
                      }

                      function addImage()
                        {
                            console.log("In add image");
                            var image_data = canvas.toDataURL();
                            console.log("Image data:", image_data);
                            $('#image').val(image_data);
                            $('#imgpost').submit()

                        }

                      function upload() {

                          formdata = new FormData();
                              var file = canvas.toDataURL();
                              if (formdata) {

                                  formdata.append("image", file);
                                  jQuery.ajax({
                                      url: "/image/class/api/",
                                      type: "POST",
                                      data: formdata,
                                      processData: false,
                                      contentType: false,
                                      success:function(response){
                                          if(response.object_class == 1) {
                                              alert("Hmm, this does not look like Daniel")
                                          } else if(response.object_class == 2) {
                                              alert("Yes, this looks very much like Daniel")
                                          }
                                      }
                                  });
                              }
                      }
                    </script>
                    </div>
                        {% if imgclass %}

                            {% if imgclass == 1 %}
                                <script>
                                    alert("Hmm, this does not look like Daniel")
                                </script>
                            {% elif imgclass == 2 %}
                                <script>
                                    alert("Yes, this looks very much like Daniel")
                                </script>
                            {% endif %}
                        {% endif %}
                </section>
            </aside>
{% endblock %}
